<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

		  <head>
          
		  <style>
		  table {
			  width:100%;
		  }
			  table td{
				  /*text-align:center;*/
				  padding:10px;
				  font-size:12px;
			  }
			  .table-bordered>tbody>tr>td 
			   
			  
			 
			   {
   										 border: 1px solid #080000 !important;
											}
			  table tfoot td{
				  /*text-align:center;*/
			  }
			 .headtxt{
				 text-align:center;
				 padding:0 !important;
				 font-weight:bold;
				 font-size:2em;
			 }
		</style>
		  </head>


		<body>
        <br><br><br><br><br>
        <table class="table table-bordered">
        <tr>
        <td class="headtxt">INVOICE</td>
        </tr>
        </table>
		<table class="table table-bordered">

		

			<tr>
				<td  rowspan="2"><strong>Customer Details:-</strong><br>
                ABC Company<br>
					107, Shiv Chamber,1st Floor, A-Wing
					Sector 11,Plot No. 21,<br>
					Next To MTNL Opp Axis Bank
					Belapur, Navi Mumbai 400 614.
				</td>

				<td >Invoice no:-</td>

				<td rowspan="2" ><strong>SMARTFIN Corporate Advisors Pvt Ltd</strong><br>
Add : H-004, Platform level, Railway station complex<br>
CBD Belapur, Navi Mumbai - 400614<br>
Email : Smartfincorporate@gmail.com<br>
Tel No: 022-27561324/25<br>
                <strong>CIN No</strong>.: U74900MH2011PTC216001
                
					
                    </td>
			</tr>

		<tr><td>Date:- 11 july 2017
        </td></tr>

		<tr>
		
        
		<td><strong>Customer GSTIN No.</strong>:- 27AADCJ8915D1ZK
		</td>
        <td>Place of Supply: Mumbai</td>
		<td><strong>GSTIN</strong>: 27AAHC1232C1ZZ<br></td>
		</tr>

		
		
        
        
		</table>


		


		<table class="table table-bordered">
		<tr>
		<td >Sr. No.</td>
		<td>Description</td>
        <td>SAC Code</td>
		
		<td>Amount</td>
		</tr>

		<tr style="height:150px;">
		<td>1.</td>
		<td>Bulk SMS- Transactinal</td>
        <td>998413</td>
		
		<td>9000/-</td>
		</tr>
		


		<tr>
       <td rowspan="5" ></td>
        
		<td colspan="2" style="text-align:right">Sub total</td>
		<td>9000/-</td>
		</tr>
        
        <tr>
       
        
		<td colspan="2" style="text-align:right">CGST : 9%<br>
        SGST : 9%<br>
        IGST : 18%
        </td>
		<td>810<br>
        810<br>
        &nbsp;</td>
		</tr>
        
        
        
		<tr>
        
        
		<td colspan="2" style="text-align:right">GST TAX Total</td>
		<td>1620</td>
		</tr>
		
        <tr>
        
        
		<td colspan="2" style="text-align:right">Total Amount</td>
		<td>10620</td>
		</tr>
        
		<tr>
		<td colspan="4" id="table_td" align="left"> Rupees: Ten thousand six hunderd and twenty rupees Only/-</td>
		</tr>

		</table>


		


		<center><p>This is Computer Generated Invoice.</p></center>
		


		
		
		</body>
		</html>